.login {
    .content {
      .verification-code {
        .el-form-item__content {
          display: flex !important;
        }
      }
      .el-form-item__content {
          margin-right: 10px;
      }
    }
  }
  .home {
    .el-header {
        padding: 0;
        .el-menu {
            padding-left: 300px;
        }
    }
  }
  //表格样式
  .el-table {
      .el-table__header {
          th {
              background:#ebf6fe;
              text-align:center
          }
      }
      .el-table__body-wrapper {
          td {
              text-align:center
          }
      }

  }
  